<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @brand.brand %>
</p>

<p>
  <b>Address:</b>
  <%= @brand.address %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
