<footer>
	<nav class="round" >
		<ul>
			<li> <%= link_to "Customer Bench", customer_path %></li>
			<li> <%= link_to "Tech Bench", tech_path %></li>
			<li> <%= link_to "Service Bench", service_path %></li>
			<li> <%= link_to "Billing Bench", billing_path %></li>
			<li> <%= link_to "Admin Bench", admin_path %></li>
		</ul>
	</nav>
</footer>