<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render :partial => 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
		<%= render :partial => 'layouts/header' %>
		  <%flash.each do |name, msg|%>
				<%= content_tag :div, msg, :id => "flash_#{name}"%>
		 <% end %>
      <section class="round">
        <%= yield %>
      </section>
	<%if user_signed_in? %>
		<%= render :partial => 'layouts/footer' %>
	<%end%> 
    </div>
  </body>
</html>
